.footer {
    background: #35005a; 
    font-family: 'Play', sans-serif;
    text-align: center;
    box-sizing: border-box;
    padding: 40px 0px;
}

.footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: white;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.footer .row a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.footer .row a:hover {
    color: #fff;
}

.footer .row ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
    font-size: 20px;
}

.footer .row a svg {
    font-size: 2em;
    margin: 0% 1%;
    width: 40px;
    height: 40px;
}

.footer .row p {
    font-size: 16px;
    color: white;
}

@media (max-width:720px) {
    .footer {
        text-align: left;
        padding: 5%;
    }

    .footer .row ul li {
        display: block;
        margin: 10px 0px;
        text-align: left;
    }

    .footer .row a i {
        margin: 0% 3%;
    }
}